TELEGRAM_TOKEN=123:abc
OPENROUTER_TOKEN=sk-or-v1-abc123

# Блок с базой данных можно не менять, оно используется в докере
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=test_video_stats
DB_HOST=db
DB_PORT=5432

# Тестировалось на этой модели, она бесплатная
MODEL_NAME=arcee-ai/trinity-large-preview:free